<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Helping Hands - Registration</title>
	{% load static%}
	 <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style-registration.css' %}">
</head>
<body>

<!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'home'%}">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'aboutus' %}">About</a></li>
                                        {% if not user.is_authenticated %}
                                        <li><a class="active" href="#">Join Us<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
												<li><a href="{% url 'u-signup' %}">Register As Donor</a></li>
                                                <li><a href="{% url 'u-signup' %}">Register As Volunteer</a></li>
                                                <li><a href="{% url 'n-signup' %}">Register As NGO</a></li>
                                            </ul>
                                        </li>
                                        {% endif %}
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        {% if user.is_authenticated %}
                                            {% if user.is_staff %}
                                                <li><a href="{% url 'adminhome' %}" >Welcome, {{ user.username }}</a></li>
                                            {% elif user.is_donor %}
                                                <li><a href="{% url 'donorhome' %}" >Welcome, {{ user.username }}</a></li>
                                            {% else %}
                                                <li><a href="{% url 'receiverhome' %}" >Welcome, {{ user.username }}</a></li>
                                            {% endif %}
                                        {% endif %}

                                        <li>
                                                <div>
                                                {% if user.is_authenticated %}
                                                
                                                    <a href="javascript:{document.getElementById('logout').submit()}" onclick="">Log Out</a>
                                                    <form id = "logout" method = "POST" action= "{% url 'logout' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" />
                                                    </form>
                                                {% else %}
                                                    <a href="{% url 'login' %}" >Login</a>
                                                {% endif %}
                                                </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <div class="main">
        <div class="container">
            <div class="sign-up-content">
                <form method="POST" class="signup-form" action="{% url 'n-signup' %}">
					{% csrf_token %}
					<h4 style="color:Red;text-align:center">
                        {% if not error %}
                        Please enter NGO Registration Number,<br> NGO Name and Address as mentioned on 
                        Government documents. It will be verified by our Volunteers before any 
                        donations.
    					{% else %}
                        {{ error }}
                        <br/>
                        <br/>
                        {% endif %}
                    </h4>
                    <h2 class="form-title">NGO Registration</h2>
                    <div class="form-radio" style="text-align: center;">
                        <input type="radio" name="user_type" value="is_ngo" id="receiver" checked="checked" />
                        <label for="donor">NGO</label>
                    </div>
                    
                    <div class="form-textbox" style="margin:3.5px;">
                        <label for="regnum">Registration<br>Number</label>
                        <input type="text" name="reg_number" id="regnum" pattern="[0-9]+" required/>                
                    </div>

                    <div class="form-textbox" style="margin:3.5px;">
                        <label for="uname">User Name</label>
                        <input type="text" name="username" id="uname" pattern="[A-Za-z]{5,12}" title="Length must be between 5 to 12 and should contain characters in uppercase or lowercase or both" required/>
                    </div>
					
					<div class="form-textbox" style="margin:3.5px;">
                        <label for="ngoname">NGO Name</label>
                        <input type="text" name="ngo-name" id="ngoname" required/>
                    </div>
                    
					<div class="form-textbox" style="margin:3.5px;">
                        <label for="add">Address</label>
                        <input type="text" name="address" id="add" required/>
                    </div>

                    <div class="form-textbox" style="margin:3.5px;">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required/>
                    </div>

                    <div class="form-textbox" style="margin:3.5px;">
                        <label for="mob">Mobile<br>Number</label>
                        <input type="text" name="mobile" id="mob" pattern="[7-9]{1}[0-9]{9}" required/>
                    </div>
                    
                    <div class="form-textbox" style="margin:3.5px;">
                        <label for="pass">Password</label>
                        <input type="password" name="password" id="pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
                    </div>
					
					<div class="form-textbox" style="margin:3.5px;">
                        <label for="pass">Confirm<br>Password</label>
                        <input type="password" name="cnf-password" id="pass" required/>
                    </div>

                    <div class="form-textbox" style="margin:3.5px;">
                        <input type="submit" name="submit" id="submit" class="submit" value="Create account" />
                    </div>
                </form>

                <p class="loginhere">
                    Already have an account ?<a href="{% url 'login' %}" class="loginhere-link"> Log in</a>
                </p>
            </div>
        </div>

    </div>
    
    

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js'%}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>