.paddingTB60 {padding:60px 60px 60px 60px;}
.gray-bg {background: #fff !important;}
.about-title {}
.about-title h1 {color: #535353; font-size:45px;font-weight:600; padding:0px 0px 0px 60px;}
.about-title span {color: #AF0808; font-size:45px;font-weight:700;}
.about-title h3 {color: #535353; font-size:23px;margin-bottom:24px; padding:0px 0px 0px 60px;}
.about-title p {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px; padding:0px 0px 0px 60px;}
.about-title ul {color: #7a7a7a;line-height: 1.8;margin: 0 0 15px; padding:0px 0px 0px 60px;}
.about-paddingB {padding-bottom: 12px;}
.about-img {padding-left: 57px;}